/* =======================
   RESET GLOBAL
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  background-color: #f4f6f8;
  color: #263238;
}

/* =======================
   HEADER INSTITUCIONAL
======================= */
.app-header {
  background-color: #0b3c5d; /* azul institucional */
  color: #ffffff;
  border-bottom: 4px solid #0d47a1;
}

.header-content {
  max-width: 1200px;
    height: 113px;
  margin: 0 auto;
  padding: 18px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Texto do header */
.header-text h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.header-text span {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  opacity: 0.85;
}

/* Brasão / Logo */
.header-logo img {
  height: 94px;
  opacity: 0.95;
}

/* =======================
   ÁREA PRINCIPAL
======================= */
.app-container {
  max-width: 1200px;
  margin: 32px auto;
  padding: 0 24px;
}