<!-- Layout institucional (Painel e Simulador) -->
<ng-container *ngIf="showPainelLayout">
  <header class="app-header">
    <div class="header-content">

      <!-- SETA DE VOLTAR PARA HOME -->
      <button
        class="back-btn"
        routerLink="/"
        title="Voltar para a Home">
        ←
      </button>

      <div class="header-text">
        <h1>{{ headerTitle }}</h1>
        <span>{{ headerSubtitle }}</span>
      </div>

      <div class="header-logo">
        <img src="brasaobrasil.png" alt="Brasão Institucional">
      </div>

    </div>
  </header>
</ng-container>

<main [class.app-container]="showPainelLayout">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="showPainelLayout">
  <footer class="app-footer">
    <div class="footer-content">

      <p class="footer-title">{{ footerTitle }}</p>

      <p class="footer-text">
        {{ footerSubtitle }}
      </p>

      <p class="footer-text">
        Fontes: Banco Central do Brasil (BCB) • IBGE
      </p>

      <p class="footer-author">
        Desenvolvido por Raphael Costa © {{ currentYear }}
      </p>

    </div>
  </footer>
</ng-container>
