<header class="app-header">
  <div class="header-content">

    <div class="header-text">
      <h1>Painel de Monitoramento Econômico</h1>
      <span>Dados oficiais • Banco Central e IBGE</span>
    </div>

    <div class="header-logo">
      <img src="brasaobrasil.png" alt="Brasão Institucional">
    </div>

  </div>
</header>

<main class="app-container">
  <router-outlet></router-outlet>
</main>

<footer class="app-footer">
  <div class="footer-content">
    <p class="footer-title">Monitor Econômico</p>

    <p class="footer-text">
      Painel de Indicadores Macroeconômicos
    </p>

    <p class="footer-text">
      Fontes: Banco Central do Brasil (BCB) • IBGE
    </p>

    <p class="footer-author">
      Desenvolvido por Raphael Costa © {{ currentYear }}
    </p>
  </div>
</footer>