<div class="backdrop" (click)="fechar()"></div>

<div class="modal">
  <h2>{{ modoCadastro ? 'Criar conta' : 'Entrar' }}</h2>

  <form (ngSubmit)="submit()">

    <input
      *ngIf="modoCadastro"
      type="text"
      placeholder="Nome"
      [(ngModel)]="nome"
      name="nome"
      (input)="limparErro()"
      required
    />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      (input)="limparErro()"
      required
    />

    <input
      type="password"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      (input)="limparErro()"
      required
    />

    <!-- mensagem de erro -->
    <div class="erro" *ngIf="erro">
      {{ erro }}
    </div>

    <button type="submit" [disabled]="carregando">
      {{ carregando
        ? 'Processando...'
        : modoCadastro ? 'Cadastrar' : 'Entrar' }}
    </button>
  </form>

  <span
    class="toggle"
    (click)="modoCadastro = !modoCadastro; limparErro()"
  >
    {{ modoCadastro ? 'Já tenho conta' : 'Criar uma conta' }}
  </span>
</div>
